*{margin: 0;}
*{padding: 0;}
*{box-sizing: border-box;}
.container {
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid rgb(238, 236, 237);
}
body{

    font-family: 'Anton', sans-serif;
}
header{
    background: #8fc5f8;
min-height: 100vh;
}
.header-top{
    display: flex;
    justify-content:space-between;
    padding-top: 48px;
    min-height: 60px;
    align-items: center;
}
nav ul{
    display: flex;
    min-width: 450px;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    color: #362121;
    text-decoration: none;
}
nav ul li a:hover{
    border-bottom: 2px solid;
}
.headerinfo{
    background-image: url(./img/start-screen-puppy.png); 
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}
.headerinfo h1{
    font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 130%;
color: #FFFFFF;
max-width: 310px;
padding-top: 235px;
}
.headerinfo p{
    font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 130%;
color: #cdcdcd;
max-width: 458px;
padding-top: 235px;
}
.headerinfo button{
    padding: 15px;
    border-radius: 100px;
    border: none;
    margin-top: 45px;
}